packaging_format = 2

id = "wordpress"
name = "WordPress"
description.en = "Create a beautiful blog or website easily"
description.fr = "Logiciel de création de blog ou de site Web"
description.pt_BR = "Crie um belo blog ou site facilmente"

version = "6.8.3~ynh1"

maintainers = ["kay0u"]

[upstream]
license = "GPL-2.0"
website = "https://wordpress.org/"
admindoc = "https://codex.wordpress.org/"
code = "https://core.trac.wordpress.org/browser"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = true
sso = true

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/blog"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    ask.pt_BR = "Escolha o idioma do aplicativo"
    type = "select"
    choices = ["af", "ar", "ary", "as", "az", "azb", "bel", "bg_BG", "bn_BD", "bn_IN", "bo", "bs_BA", "ca", "ceb", "ckb", "cs_CZ", "cy", "da_DK", "de_AT", "de_CH", "de_CH_informal", "de_DE", "de_DE_formal", "dzo", "el", "en_AU", "en_CA", "en_GB", "en_NZ", "en_US", "en_ZA", "eo", "es_AR", "es_CL", "es_CO", "es_CR", "es_ES", "es_GT", "es_MX", "es_PE", "es_UY", "es_VE", "et", "eu", "fa_IR", "fi", "fr_BE", "fr_CA", "fr_FR", "fur", "gd", "gl_ES", "gu", "haz", "he_IL", "hi_IN", "hr", "hsb", "hu_HU", "hy", "id_ID", "is_IS", "it_IT", "ja", "jv_ID", "kab", "ka_GE", "kk", "km", "kn", "ko_KR", "lo", "lt_LT", "lv", "mk_MK", "ml_IN", "mn", "mr", "ms_MY", "my_MM", "nb_NO", "ne_NP", "nl_BE", "nl_NL", "nl_NL_formal", "nn_NO", "oci", "pa_IN", "pl_PL", "ps", "pt_AO", "pt_BR", "pt_PT", "pt_PT_ao90", "rhg", "ro_RO", "ru_RU", "sah", "si_LK", "skr", "sk_SK", "sl_SI", "snd", "sq", "sr_RS", "sv_SE", "sw", "szl", "tah", "ta_IN", "te", "th", "tl", "tr_TR", "tt_RU", "ug_CN", "uk", "ur", "uz_UZ", "vi", "zh_CN", "zh_HK", "zh_TW"]
    default = "en_US"

    [install.admin]
    type = "user"

    [install.multisite]
    ask.en = "Enable multisite option?"
    ask.fr = "Activer l'option multisite ?"
    ask.pt_BR = "Ativar a opção multisite?"
    type = "boolean"
    default = false

[resources]
        [resources.sources.main]
        url = "https://downloads.wordpress.org/release/wordpress-6.8.3.zip"
        sha256 = "a163fe8d0d3d89ce00139ca0e0618e109bb7441fae2f733cff6c72fc4d170fb9"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:rwx"

    [resources.permissions]
    main.url = "/"
    admin.url = "/wp-login.php"
    admin.additional_urls = ["/wp-admin.php"]
    admin.allowed = "admins"
    admin.show_tile = false

    [resources.apt]
    packages = "mariadb-server, php8.4-mysql, php8.4-curl, php8.4-mbstring, php8.4-xml, php8.4-zip, php8.4-gd, php8.4-soap, php8.4-ssh2, php8.4-tokenizer, php8.4-ldap"

    [resources.database]
    type = "mysql"
